{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "plugin:prettier/recommended",
    "prettier/standard",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true
    },
    "project": "./tsconfig.json"
  },
  "rules": {
    "space-before-function-paren": 0,
    "import/export": 0,
    "no-unused-vars": "error",
    "camelcase": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/unbound-method": [
      "error",
      {
        "ignoreStatic": true
      }
    ]
  }
}
